@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
	url('../fonts/BebasNeueRegular.woff') format('woff'),
	url('../fonts/BebasNeueRegular.ttf') format('truetype'),
	url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
	url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeueBold';
	src: url('../fontsBebasNeueBold.eot');
	src: url('../fontsBebasNeueBold.woff2') format('woff2'),
	url('../fontsBebasNeueBold.woff') format('woff'),
	url('../fontsBebasNeueBold.ttf') format('truetype'),
	url('../fontsBebasNeueBold.svg#BebasNeueBold') format('svg'),
	url('../fontsBebasNeueBold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
	url('../fonts/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
	url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
	url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}